# 拡張子のない実行ファイル
*
!*/
!*.*

# tag files
*.tags

# swap files
*.swp

# object files
*.o

# libraries
*.a

# shared objects
*.so
*.dll

# コンパイル済みヘッダーファイル
*.gch

# debug files
*.dat
*.dSYM/

# logfiles
*.log
